<footer class="footer">
  <div>
    <p>
      <small
        >Un site créé par
        <a
          href="https://www.linkedin.com/in/pierre-arragain-dehlinger-710616223/"
          >Pierre Arragain-Dehlinger</a
        >
        - Designé par <a href="https://potopov.com/">Potopov</a> -
        <a href="https://github.com/PierreArragain/findmycirco">GitHub</a> -
        <a href="/legal">Mentions légales</a></small
      >
    </p>
  </div>
</footer>
