<header class="header">
  <nav class="header__nav">
    <a href="/">
      <div class="header__nav-container">
        <img
          class="header__nav__icon"
          src="/img/loupe.svg"
          alt="Icône en forme de loupe"
        />
        <h2 class="header__nav__title">MaCirco</h2>
      </div>
    </a>
  </nav>
</header>
