<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ce site permet à chaque élécteur et électrice de trouver sa circonscription legislative, son ou sa députée actuelle et les candidats à l'élection legislative">
    <title>Trouver ma circonscription</title>
</head>
<body>
    <header>
        <nav>
            <h3>
                <a href="/">Accueil</a>
            </h3>
        </nav>
    </header>
    <main>