<section class="home-main__section">

    <div class="home-main__section__title__container">
        <h2 class="home-main__section__subtitle">Élections legislatives - 12 et 19 juin 2022</h2>
        <h1 class="home-main__section__title">Trouver ma circonscription électorale</h1>
        <p class="home-main__section__description">Connaissez-vous la circonscription législative dont vous
            dépendez ? Qui est votre député ou députée actuelle ?
        </p>
    </div>
    <div class="home-main__img-container">
        <img class="home-main__img" src="/img/francemetrovector.svg"
            alt="Image vectorielle de la France Métropolitaine">
    </div>
</section>