<%- include ('partials/header') %>
    <article class="home-main">

        <%- include ('partials/title-header') %> 
        <section class="home__form">
            <%- include ('partials/form') %>
        </section>
    </article>


    <%- include ('partials/footer') %>