<%- include ('partials/header') %>
    <article class="home-main">

        <section class="home-main__section">

            <div class="home-main__section__title__container">
                <h2 class="home-main__section__subtitle">Elections legislatives - 15 et 22 juin 2022</h2>
                <h1 class="home-main__section__title">Trouver ma circonscription électorale</h1>
                <p class="home-main__section__description">Connaissez-vous la circonscription legislative dont vous
                    dépendez ? Qui est votre député ou députée actuelle ?
                </p>
            </div>
            <div class="home-main__img-container">
                <img class="home-main__img" src="/img/francemetrovector.svg"
                    alt="Image vectorielle de la France Métropolitaine">
            </div>
        </section>
        <section class="home__form">
            <%- include ('partials/form') %>
        </section>
    </article>


    <%- include ('partials/footer') %>