<%- include ('partials/header') %>
        <article class="home-main">
        <section class="home-main__section">
           
            <div class="home-main__section__title__container">
                <h2 class="home-main__section__subtitle">Elections legislatives - 15 et 22 juin 2022</h2>
                <h1 class="home-main__section__title">Trouver ma circonscription électorale</h1>
                <p class="home-main__section__description">Connaissez-vous la circonscription legislative dont vous dépendez ? Qui est votre député ou députée actuelle ?
                </p>
            </div>
            <div class="home-main__img-container">         
            <img class="home-main__img" src="/img/francemetrovector.svg" alt="Image vectorielle de la France Métropolitaine">
            </div>  
        </section>
        <section class="home__form">
            <form action="/search/results" method="get" class="search-form">
                <h3 class="home__form__jnstruction">Entrez une adresse pour trouver dans quelle circonscription elle se trouve :</h3>
                <div class="home__form__line home__form__street">
                    <div class="home__form__field-block home__form__street__number">
                        <label for="streetNumber">Numéro</label>
                        <input class="home__form__field" type="text" name="streetNumber" id="street-number">
                    </div>
                    <div class="home__form__field-block home__form__street__name">
                        <label for="streetName">Nom de rue</label>
                        <input class="home__form__field" type="text" name="streetName" id="street-name"  required aria-required="true">
                    </div>
                </div>
                <div class="home__form__line home__form__town">
                    <div class="home__form__field-block home__form__town__zip">
                        <label for="zip">Code postal</label>
                        <input class="home__form__field"type="text" name="zip" id="town-zip" min-length="5" max-length="5" size="6" required aria-required="true">
                    </div>
                <div class="home__form__field-block home__form__town__name">
                        <label for="townName">Commune</label>
                        <input class="home__form__field" type="text" name="townName" id="town-name"  required aria-required="true">
                    </div>
                </div>

                <div class="home__form__submit-btn__container">
                    <input class="home__form__submit-btn" type="submit" value="Trouver ma circonscription">
                </div>
            </form>
        </section>
    </article>


    <%- include ('partials/footer') %>